<section class="card scaffolding">
  <h1 class="holograph blue">Join The Robot Revolution.</h1>
  <div class="form">
    <label>Display Name</label>
    {{input placeholder="BeepBoop McRobotson" value=display_name}}

    <label>E-mail address</label>
    {{input placeholder="test@example.com" value=email}}

    <label>Password</label>
    {{input placeholder="hunter2" type="password" value=password}}

    <label>Confirm password</label>
    {{input placeholder="hunter2" type="password" value=password_confirm}}

    <button>Submit</button>
  </div>
</section>