<section class="card scaffolding">
  <h1 class="holograph blue">Welcome Back!</h1>
  <div class="form">
    <label>E-mail address</label>
    {{input placeholder="test@example.com" value=email}}

    <label>Password</label>
    {{input placeholder="hunter2" type="password" value=password}}
    
    <button>Submit</button>
  </div>
</section>